{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
    <div class="main_content">
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Magnam nulla quasi quibusdam saepe!</p>
        <p>Dolor minima quam simipque veniam.</p>
        <p>Eius excepturi placeat unde voluptatem!</p>
        <p>Animi aspernatur dolorem saepe temporibus?</p>
        <p>Ad distinctio officia quisquam veniam!</p>
        <p>Facips id optio quod vept!</p>
        <p>Apquid deserunt fugit impedit labore?</p>
        <p>Maiores quae quas quidem quo!</p>
        <p>Ab in maxime natus omnis.</p>
        <p>Exppcabo nesciunt provident quam veniam?</p>
        <p>Distinctio ipsam necessitatibus quae vitae?</p>
        <p>Autem minus, molestias! Vept, voluptas.</p>
        <p>Dolorem ipsa labore quo suscipit?</p>
        <p>Culpa cum numquam quisquam quo.</p>
        <p>Epgendi illum impedit pbero sunt.</p>
        <p>Apquid autem necessitatibus nisi quis.</p>
        <p>Harum porro possimus vitae voluptatum!</p>
        <p>Apas laborum quae quibusdam tenetur?</p>
        <p>Dolores fugiat magni perferendis vept!</p>
        <p>Iste tenetur, unde. Deserunt, quae!</p>
        <p>Blanditiis eum nostrum quasi sapiente?</p>
        <p>Inventore obcaecati quaerat quidem reprehenderit.</p>
        <p>Illo odit tempore vero voluptatem.</p>
        <p>Exercitationem maiores officiis quam reiciendis?</p>
        <p>Distinctio ea enim perspiciatis temporibus.</p>
        <p>Ipsam iusto maiores molestiae molestias?</p>
        <p>Autem cum deleniti dolorem reprehenderit.</p>
        <p>A commodi ea perferendis quas?</p>
        <p>Nostrum pariatur possimus quis sunt?</p>
        <p>Dolorem laborum nobis reiciendis rem.</p>
        <p>Delectus ducimus hic laborum sint.</p>
        <p>Enim officiis quibusdam quidem sapiente.</p>
        <p>Blanditiis dolor obcaecati quae voluptatibus!</p>
        <p>Asperiores optio simipque vitae. Eveniet.</p>
        <p>Apquam consequatur dolorum nihil soluta.</p>
        <p>Laborum molptia quasi quod tempora!</p>
        <p>Apas obcaecati sed temporibus vel.</p>
        <p>Doloremque ea minus quod sit?</p>
        <p>Architecto atque epgendi fugiat sed?</p>
        <p>Blanditiis culpa in quibusdam voluptate?</p>
        <p>Ab cumque perspiciatis vero vitae.</p>
        <p>Ea exercitationem labore repellat soluta.</p>
        <p>A deserunt dignissimos dolorum quibusdam!</p>
        <p>Apas amet hic iste maxime.</p>
        <p>Dolorum laborum pariatur repellat voluptates.</p>
        <p>Doloremque molestiae possimus recusandae sit!</p>
        <p>Accusantium debitis deserunt quo reiciendis!</p>
        <p>Atque dolore excepturi iste iusto?</p>
        <p>Dolore incidunt magnam nobis numquam!</p>
        <p>Debitis enim incidunt totam ut?</p>
        <p>Aut blanditiis minus quod vel.</p>
        <p>At consequuntur nihil nostrum quisquam.</p>
        <p>Aut corporis iste sequi veniam.</p>
        <p>Eos in nihil quidem temporibus!</p>
        <p>Asperiores doloribus minus natus necessitatibus.</p>
        <p>Beatae eaque natus reprehenderit vero.</p>
        <p>Corporis fuga nam quasi simipque.</p>
        <p>A ex modi praesentium sed.</p>
        <p>Epgendi ratione tenetur ut. Dicta!</p>
        <p>Consequuntur iusto saepe sed soluta?</p>
        <p>Ad beatae nisi odit possimus?</p>
        <p>Apas error inventore ipsum quisquam?</p>
        <p>Corporis dolores iste laborum obcaecati.</p>
        <p>Deleniti doloribus quibusdam reiciendis voluptatem?</p>
        <p>Ab animi at delectus maiores.</p>
        <p>Consequuntur laudantium pariatur veniam voluptatem!</p>
        <p>Ab consectetur est molestias voluptatem?</p>
        <p>Eveniet, laudantium voluptates. Apquam, cupiditate.</p>
        <p>Fuga magnam non optio tenetur?</p>

    </div>
{% endblock %}
