{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}
    <h1>Главная страница</h1>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Magnam nulla quasi quibusdam saepe!</li>
    <li>Dolor minima quam similique veniam.</li>
    <li>Eius excepturi placeat unde voluptatem!</li>
    <li>Animi aspernatur dolorem saepe temporibus?</li>
    <li>Ad distinctio officia quisquam veniam!</li>
    <li>Facilis id optio quod velit!</li>
    <li>Aliquid deserunt fugit impedit labore?</li>
    <li>Maiores quae quas quidem quo!</li>
    <li>Ab in maxime natus omnis.</li>
    <li>Explicabo nesciunt provident quam veniam?</li>
    <li>Distinctio ipsam necessitatibus quae vitae?</li>
    <li>Autem minus, molestias! Velit, voluptas.</li>
    <li>Dolorem ipsa labore quo suscipit?</li>
    <li>Culpa cum numquam quisquam quo.</li>
    <li>Eligendi illum impedit libero sunt.</li>
    <li>Aliquid autem necessitatibus nisi quis.</li>
    <li>Harum porro possimus vitae voluptatum!</li>
    <li>Alias laborum quae quibusdam tenetur?</li>
    <li>Dolores fugiat magni perferendis velit!</li>
    <li>Iste tenetur, unde. Deserunt, quae!</li>
    <li>Blanditiis eum nostrum quasi sapiente?</li>
    <li>Inventore obcaecati quaerat quidem reprehenderit.</li>
    <li>Illo odit tempore vero voluptatem.</li>
    <li>Exercitationem maiores officiis quam reiciendis?</li>
    <li>Distinctio ea enim perspiciatis temporibus.</li>
    <li>Ipsam iusto maiores molestiae molestias?</li>
    <li>Autem cum deleniti dolorem reprehenderit.</li>
    <li>A commodi ea perferendis quas?</li>
    <li>Nostrum pariatur possimus quis sunt?</li>
    <li>Dolorem laborum nobis reiciendis rem.</li>
    <li>Delectus ducimus hic laborum sint.</li>
    <li>Enim officiis quibusdam quidem sapiente.</li>
    <li>Blanditiis dolor obcaecati quae voluptatibus!</li>
    <li>Asperiores optio similique vitae. Eveniet.</li>
    <li>Aliquam consequatur dolorum nihil soluta.</li>
    <li>Laborum mollitia quasi quod tempora!</li>
    <li>Alias obcaecati sed temporibus vel.</li>
    <li>Doloremque ea minus quod sit?</li>
    <li>Architecto atque eligendi fugiat sed?</li>
    <li>Blanditiis culpa in quibusdam voluptate?</li>
    <li>Ab cumque perspiciatis vero vitae.</li>
    <li>Ea exercitationem labore repellat soluta.</li>
    <li>A deserunt dignissimos dolorum quibusdam!</li>
    <li>Alias amet hic iste maxime.</li>
    <li>Dolorum laborum pariatur repellat voluptates.</li>
    <li>Doloremque molestiae possimus recusandae sit!</li>
    <li>Accusantium debitis deserunt quo reiciendis!</li>
    <li>Atque dolore excepturi iste iusto?</li>
    <li>Dolore incidunt magnam nobis numquam!</li>
    <li>Debitis enim incidunt totam ut?</li>
    <li>Aut blanditiis minus quod vel.</li>
    <li>At consequuntur nihil nostrum quisquam.</li>
    <li>Aut corporis iste sequi veniam.</li>
    <li>Eos in nihil quidem temporibus!</li>
    <li>Asperiores doloribus minus natus necessitatibus.</li>
    <li>Beatae eaque natus reprehenderit vero.</li>
    <li>Corporis fuga nam quasi similique.</li>
    <li>A ex modi praesentium sed.</li>
    <li>Eligendi ratione tenetur ut. Dicta!</li>
    <li>Consequuntur iusto saepe sed soluta?</li>
    <li>Ad beatae nisi odit possimus?</li>
    <li>Alias error inventore ipsum quisquam?</li>
    <li>Corporis dolores iste laborum obcaecati.</li>
    <li>Deleniti doloribus quibusdam reiciendis voluptatem?</li>
    <li>Ab animi at delectus maiores.</li>
    <li>Consequuntur laudantium pariatur veniam voluptatem!</li>
    <li>Ab consectetur est molestias voluptatem?</li>
    <li>Eveniet, laudantium voluptates. Aliquam, cupiditate.</li>
    <li>Fuga magnam non optio tenetur?</li>
{% endblock %}